services:
  #  db:
  #    image: postgres:15
  #    container_name: hrm-db
  #    environment:
  #      POSTGRES_DB: ${DB_NAME}
  #      POSTGRES_USER: ${DB_USER}
  #      POSTGRES_PASSWORD: ${DB_PASSWORD}
  #      SCHEMA_NAME: ${SCHEMA_NAME}
  #    volumes:
  #      - db-data:/var/lib/postgresql/data
  #      - ./init-db:/docker-entrypoint-initdb.d
  #    ports:
  #      - "5432:5432"
  #    healthcheck:
  #      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
  #      interval: 10s
  #      timeout: 5s
  #      retries: 5
  #    restart: unless-stopped

  app:
    container_name: hrm-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      SCHEMA_NAME: ${SCHEMA_NAME}
      SPRING_PROFILES_ACTIVE: dev

    depends_on:
      db:
        condition: service_healthy

    restart: on-failure

volumes:
  db-data: